@media (min-width: 1400px) {
    header {
        nav {
            .btn-group {
                .common-btn {
                    &:not(:first-child) {
                        margin-left: 2.75rem !important;
                    }
                }
            }
        }
    }
}

// @media (max-width: 575.98px) { ... }

// @media (max-width: 767.98px) { ... }


@media (max-width: 991px) {

    .header-bg {
        background: $black-02;
    }
        header {
            nav {
                form {
                    max-width: 20rem !important;
                }
            }
        }

    

    footer {
        .footer-container {
            padding-top: 2.4375rem !important;
            padding-bottom: 2.0625rem !important;

            .footer-item {
                // h3 {
                //     margin-top: 1.75rem;
                //     margin-bottom: 1.75rem;
                // }

                ul {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 0.525rem;
                        }
                    }
                }
            }
        }

        .copyright {
            padding-top: 1rem;
            padding-bottom: 1rem;

            p {
                color: #00000080;
                font-size: 1rem;
            }
        }
    }

}



@media (max-width: 1199px) {
    header {
        nav {
            form {
                max-width: 13rem;
            }
        }

        ul {
            .nav-item {
                margin-left: 0.5rem !important;
            }
        }

        .btn-group {
            .btn-yellow {
                padding: 0.7rem 0.9rem;
            }
        }

        .navbar-toggler {
            width: 50px;
            height: 50px;
            cursor: pointer;
            outline: none;
            border: none;

            &:focus {
                box-shadow: none;
            }

            span {
                width: 100%;
                height: 2px;
                background: #fff;
                position: relative;


                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                }

                &::before {
                    transform: translateY(-10px);
                    transition: all 0.3s ease;
                }

                &::after {
                    transform: translateY(10px);
                    transition: all 0.3s ease;
                }
            }

        }
    }
}

@media (max-width: 1399px) {
    header {
        .brand-logo {
            img {
                height: 42px;
            }
        }

        ul {
            .nav-item {
                margin-left: 1.5rem;
            }
        }


        form {
            max-width: 18rem;

            input[type='search'] {
                &::placeholder {
                    font-size: 0.8rem !important;
                }

            }

        }

    }

}